html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

nav {
  position: fixed;
  width: 100%;
}
ul {
  width: 100%;
  background-color:darkslateblue;
}
li {
  display: block;
  text-align: center;
  margin-bottom: 4px;
  
}
article {
  padding-top: 10rem;
}
a {
  font-size: 2rem;
  text-decoration: none;
  color:white;
  text-align: center;
}
#signup {
 border: 1px solid white;
 border-radius: 20px;
}
a:hover {
  color: darkkhaki;
  transition: color .3s ease-in-out;
}

@media (min-width: 600px) {
nav {
  position: fixed;
  width: 100%;
}

ul {
  background-color: darkslateblue;
  height: 2.5rem;
}
li {
  display: inline-block;
  
}
a {
  color:white;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: 'Slabo 27px', serif;
}
#home {
  margin-left: 10px;
  display: inline-block;
  padding: 5px;
}
#signup {
  float: right;
  margin-right: 10px;
  border: 1px solid white;
  border-radius: 20px;
  padding: 5px;
}
#signin {
  float: right;
  margin-right: 20px;
  padding: 5px;
}

#about {
  float: right;
  margin-right: 20px;
  padding: 5px;
}

article {
  padding-top: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.2rem; 
}
    /* Clearfix */
    nav::after {
    content: "";
    clear: both;
    display: block;
  }
}
  